
    <p>This is a header partial</p>

   
    <% if(user){ %>
        <a href=register>Register</a>
        
        You are logged as: <b><%= user.email%></b>
        <form method="POST" action="/logout">
            <button type='submit'><b>Logout</b></button>
        </form>
        
    <% } else{ %> 
        <a href="register">Register</a>
        <a href="login">Login</a>
    <% } %>