
    <p>This is a header partial</p>


    <form method="POST" action="/login">
        
          = - User Name for Cookies - =
          
          <input type='text' name="username"/> <button type='submit'><b>Send</b></button> </form>
   
    <p><%= username%></p>