<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

    <p> <b>= = - - New login Page - - = =</b></p>

    <form method="POST" action="/login">
        <b>E-mail:</b> <input  type="email" name="email">
        <b>Password:</b> <input type="password" name="password">
        <button type="submit"><b>= OK =</b></button>
    </form>
    <p>
       <b>Not yet registered?</b> <a href="register">Register</a>
    </p>
    
</body>