<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

    <p>Create a Registration Page</p>

    <form method="POST" action="/register">
        <b>E-mail:</b> <input  type="email" name="email">
        <b>Password:</b> <input type="password" name="password">
        <button type="submit">Create</button>
    </form>
</body>
</html>